/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset rules */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* End of reset rules */

body {
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  color: #3b3b3b;
  line-height: 1;
}

.container {
  position: absolute;
  background-color: #bbb;
  width: 25rem;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #ccc;
}

.row,
.box {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.create-input, .edit-input {
  background-color: #0000;
  width: calc(100% - 23.5px);
  border: none;
  padding: 0;
}

input[type='text']:focus-visible {
  outline: none;
}

.edit-input {
  margin-left: 1rem;
  width: 70%;
  color: #666;
}

.clear-btn {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  color: #888;
  font-size: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.submit-task {
  cursor: pointer;
  background-color: #f6f6f6;
  padding: 2px 6px;
  border: none;
}

.rightmost {
  display: block;
  float: right;
}

.task {
  margin-left: 1rem;
}

.completed {
  text-decoration: line-through;
}

.handle {
  cursor: move;
  color: #bbb;
  font-size: 1.2rem;
  padding: 0 0.1rem 0 1rem;
}

.handle:hover {
  color: #000;
}

.drop-zone {
  border: 1px solid #8babbb;
}
